# --- ARCHIVOS GIGANTES Y TEMPORALES ---
*.hprof
*.log
*.pyc
.DS_Store
Thumbs.db

# --- REGLAS GENERALES (Detecta build en cualquier subcarpeta) ---
**/build/
**/target/
**/out/
**/dist/
**/nbproject/private/

# --- ANDROID & GRADLE (Cualquier nivel) ---
**/.gradle/
**/local.properties
**/.cxx/
**/.externalNativeBuild/
**/*.apk
**/*.ap_

# --- IDEs (IntelliJ, Android Studio, VS Code) ---
**/.idea/
**/.vscode/
**/*.iml
**/*.ipr
**/*.iws

# --- KOTLIN/JAVA ---
**/*.class
**/intermediates/
**/generated/

# --- GODOT ---
# Ignora el .exe, la carpeta y el .zip estén donde estén
Godot_v4.6.2-stable_win64.exe*