* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 1rem;
}

.modal {
    display: none;
}

.show .modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 1rem;
    border-radius: .6rem;
    display: flex;
    flex-direction: column;
    row-gap: .4rem;
}